<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.komorebi.pojo.User">
        <!--1 下标赋值-->
<!--        <constructor-arg index="0" value="komorebi"/>-->

        <!--2 类型赋值-->
<!--        <constructor-arg type="java.lang.String" value="komorebi"/>-->

        <!--3 直接通过参数名设置-->
        <constructor-arg name="name" value="komorebi"/>
    </bean>

    <bean id="user2" class="com.komorebi.pojo.UserT"></bean>

    <alias name="user" alias="userAlias"/>
</beans>