<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间 绑定一个对应的Mapper接口-->
<mapper namespace="com.komorebi.dao.UserMapper">
    <!--按指定ID查询语句-->
    <resultMap id="UserMap" type="User">
        <!--column指数据库中的字段，property指实体类中的属性-->
        <!--        <result column="id" property="id" />-->
        <!--        <result column="name" property="name" />-->
        <result column="pwd" property="password"/>
    </resultMap>
    <select id="getUserById" parameterType="int" resultMap="UserMap">
        select * from mybatis.user where id = #{id};
    </select>
</mapper>
