<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.komorebi.springcloud.dao.DeptDao">
    <insert id="addDept" parameterType="Dept">
        insert into db01.dept (dname, dp_source) values (#{dname},DATABASE());
    </insert>

    <select id="queryById" resultType="Dept" parameterType="Long">
        select * from db01.dept where deptno = #{deptno};
    </select>

    <select id="queryAll" resultType="Dept">
        select * from db01.dept;
    </select>
</mapper>